*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root
{
	--veryLightGray: hsl(0, 0%, 95%);	
	--brightOrange: hsl(31, 77%, 52%);
	--darkCyan: hsl(184, 100%, 22%);
	--veryDarkCyan: hsl(179, 100%, 13%);
	--transparentWhite: hsla(0, 0%, 100%, 0.75);
}




html{
	font-size: 62.5%;
}


body{
	background-color: var(--veryLightGray);
	display: flex;

	justify-content: center;
	align-items: center;

	height: 100vh;

	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	color: var(--transparentWhite);
}

img
{
 	max-height: 100%;
 	max-width: 100%;
}

.card
{
	display: flex;
	
	flex-direction: column;

	/*width: 86%;*/
	max-width: 25rem;
	
	height: 88vh;

	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;
	border-bottom-left-radius: 7px;
}

.rectangles
{
	width: 100%;
	height: calc(88vh / 3);
	padding-top: 2rem; 
	padding-right: 4.5rem;
	padding-bottom: 2rem;
	padding-left: 3rem;

	display: flex;
	flex-direction: column;

	overflow: hidden;
}

.rectangles:nth-child(1)
{
	background-color: var(--brightOrange); 	
	border-top-left-radius: 7px;
 	border-top-right-radius: 7px;
}

.rectangles:nth-child(2)
{
	background-color: var(--darkCyan); 	
}

.rectangles:nth-child(3)
{
	background-color: var(--veryDarkCyan);
	border-bottom-right-radius: 7px;
 	border-bottom-left-radius: 7px;
}

.card-picture
{
	height: 1.5rem;
	margin-bottom: .5rem;	
}

.card-heading
{
	font-family: 'Big Shoulders Display', cursive;
	color: var(--veryLightGray);
	font-weight: 700;	 	
	font-size: 1.5rem;
	text-align: left;

	margin-bottom: .4rem;
}

.card-paragraph
{
	font-size: 1rem;
	line-height: 1.8rem;
	text-align: left;  
	margin-bottom: .5rem;
}

.card-botton-1
{	
	background-color: var(--veryLightGray);
	font-size: 1rem;
	text-align: center;

	border-radius: 2.5rem;
	width: 45%;
	height: 2.5rem;
	line-height: 2.5rem; 

	margin-top: auto;

	text-decoration: none;

	color: var(--brightOrange);
}

.card-botton-2
{
  	background-color: var(--veryLightGray);
  	font-size: 1rem;
  	text-align: center;
 
  	border-radius: 2.5rem;
   	width: 45%;
  	height: 2.5rem;
	line-height: 2.5rem; 
   	margin-top: auto;
 
   	text-decoration: none;
	color: var(--darkCyan);	
}

.card-botton-3
{
   	background-color: var(--veryLightGray);
   	font-size: 1rem;
	text-align: center;
   
    border-radius: 2.5rem;
    width: 45%;
    height: 2.5rem;
	line-height: 2.5rem;
    margin-top: auto;
   
    text-decoration: none;
	color: var(--veryDarkCyan);
}

.card-botton-1:active
{
	background-color: var(--brightOrange);
	color: var(--veryLightGray); 
	border: 2px solid var(--veryLightGray); 
}


.card-botton-2:active
{
	background-color: var(--darkCyan); 
	color: var(--veryLightGray); 
	border: 2px solid var(--veryLightGray); 
}

.card-botton-3:active
{
	background-color: var(--veryDarkCyan);
	color: var(--veryLightGray);
	border: 2px solid var(--veryLightGray); 
}


@media only screen and (min-width: 601px)
{
	.card
 	{
		max-width: 40rem;
	}

	.rectangles
 	{   
     	padding-top:3.5rem; 
      	padding-right: 5.5rem;
      	padding-bottom: 3.5rem;
      	padding-left: 4.5rem;
 	}

	.card-picture
 	{
 	  	height: 2.5rem;
 	    margin-bottom: 1rem;
 	}


	.card-heading
	{   
        font-size: 2.2rem;
           
        margin-bottom: 1rem;
	 }
 
  	.card-paragraph
	{   
     	font-size: 1.6rem;
     	line-height: 2rem; 
     	margin-bottom: 1rem;
	}

	.card-botton-1
    {  
        font-size: 1.6rem;
  
        border-radius: 2.5rem;
        width: 45%;
        height: 4rem;
        line-height: 4rem;
	}

	.card-botton-2
	{ 
         font-size: 1.6rem;
 
         border-radius: 2.5rem;
         width: 45%;
         height: 4rem;
         line-height: 4rem;
	}

	.card-botton-3     
	{   
          font-size: 1.6rem;
    
          border-radius: 2.5rem;
          width: 45%;
          height: 4rem;
          line-height: 4rem;
	}	

}


@media only screen and (min-width: 1000px)
{
	.card
	{
		flex-direction: row;
		max-width: 64vw;
		height: 63vh;

		border-top-left-radius: 7px;
 	    border-top-right-radius: 7px;
 		border-bottom-right-radius: 7px;
 		border-bottom-left-radius: 7px;
	}

	.rectangles
	{
		height: inherit;		
	
		flex: 1;
 
      	padding-top: 2.6rem;
      	padding-right: 3.5rem;
      	padding-bottom: 3rem;
      	padding-left: 3.5rem;
  
      	display: flex;
      	flex-direction: column;
  
      	overflow: hidden;
		

	}

	.card-picture
	{
        height: 3rem;
        margin-bottom: 1.6rem;
    }

	.card-heading
	{
     	font-size: 2.2rem;
    	margin-bottom: 1.5rem;
	}

	.card-paragraph
	{   
	    font-size: 1.2rem;
	     
	    margin-bottom: 1rem;
	}

	.rectangles:nth-child(1)
 	{   	 
 	    border-top-right-radius: 0;
		border-bottom-left-radius: 7px;
 	}

 	.rectangles:nth-child(3)
 	{   
 	   	background-color: var(--veryDarkCyan);
      	border-top-right-radius: 7px;
      	border-bottom-left-radius: 0;
 	 }


	.card-botton-1
	{  
	    font-size: 1.2rem;
	    width: 70%;
	    height: 3.2rem;
	    line-height: 3.2rem;
	}
	
	.card-botton-2
	{
       	font-size: 1.2rem;
		width: 70%;
		height: 3.2rem;
		line-height: 3.2rem;
	} 

	.card-botton-3
	{
        font-size: 1.2rem;
        width: 70%;
        height: 3.2rem;
        line-height: 3.2rem;
    }     
}


@media only screen and (min-width: 1098px)
{
	.card
	{
		flex-direction: row;
		max-width: 64vw;
		height: 63vh;

		border-top-left-radius: 7px;
 	    border-top-right-radius: 7px;
 		border-bottom-right-radius: 7px;
 		border-bottom-left-radius: 7px;
	}

	.rectangles
	{
		height: inherit;		
	
		flex: 1;
 
      	padding-top: 3rem;
      	padding-right: 3.5rem;
      	padding-bottom: 3.5rem;
      	padding-left: 3.5rem;
  
      	display: flex;
      	flex-direction: column;
  
      	overflow: hidden;
		

	}

	.card-picture
	{
        height: 3.5rem;
        margin-bottom: 2.5rem;
    }

	.card-heading
	{
     	font-size: 3rem;
    	margin-bottom: 2.5rem;
	}

	.card-paragraph
	{   
	    font-size: 1.4rem;
	     
	    margin-bottom: 1rem;
	}

	.rectangles:nth-child(1)
 	{   	 
 	    border-top-right-radius: 0;
		border-bottom-left-radius: 7px;
 	}

 	.rectangles:nth-child(3)
 	{   
 	   	background-color: var(--veryDarkCyan);
      	border-top-right-radius: 7px;
      	border-bottom-left-radius: 0;
 	 }


	.card-botton-1
	{  
	    font-size: 1.4rem;
	    width: 70%;
	    height: 3.7rem;
	    line-height: 3.7rem;
	}
	
	.card-botton-2
	{
       	font-size: 1.4rem;
		width: 70%;
		height: 3.7rem;
		line-height: 3.7rem;
	} 

	.card-botton-3
	{
        font-size: 1.4rem;
        width: 70%;
        height: 3.7rem;
        line-height: 3.7rem;
    }     
}


